// $themeBG: #121212;
// $contentBG: #1E1E1E;
$themeBG: black;
$contentBG: black;
$navBG: #474FC4;
$themeNonFocused: black;
// $themeNonFocused: #474747;
$textNormal: rgba(255, 255, 255, .95);
$textNonFocused: rgba(255, 255, 255, .60);
