@import '../../../colors.scss';
.light-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 1em;
}

.light-container:nth-child(2n - 1){
    background-color: $themeBG;
}

.power-button {
    width: 100px;
    height: 50px;
    background-color: $themeNonFocused;
    border: none;
    border-radius: 7px;
    color: $textNonFocused;
}
.powered {
    background-color: $navBG;
    color: $textNormal;
    transition: ease-in 1s;
}