@import '../../../colors.scss';
$spaceVal: .25;
.light-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: medium solid $textNormal;
    padding: 0 2em;
}

.light-container:nth-child(2n - 1){
    background-color: $themeBG;
}

.light-name {
    flex: $spaceVal;
}

.power-button-container {
    flex: $spaceVal;
}

.picker {
    flex: $spaceVal;
}
