$themeBG: #121212;
$contentBG: #1E1E1E;
$navBG: #474FC4;
$themeNonFocused: #474747;
$textNormal: rgba(255, 255, 255, .87);
$textNonFocused: rgba(255, 255, 255, .60);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $themeBG;
    color: $textNormal;
    display: 'flex'
}

.content {
    background-color: $contentBG;
}
.appcontainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}