@import '../colors.scss';
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $contentBG;
    color: $textNormal;
    display: 'flex'
}

.content {
    background-color: $contentBG;
}
.appcontainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}