@import '../../colors.scss';
button {
    width: 100%;
    padding: 1em;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    color: $textNonFocused;
}
.home {
    background-color: $contentBG;
}
.selected-service {
    color: $textNormal;
}

*:focus {
    outline:none;
}